## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [246]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [247]:
#viewing school data
school_data

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [248]:
#number of schools
totalSchools= school_data.count()["School ID"]
totalSchools

15

In [249]:
#total budge
totalBudget = sum(school_data["budget"])
totalBudget

24649428

In [250]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [251]:
#total students
totalStudents = school_data_complete.count()["Student ID"] 
totalStudents

39170

In [252]:
#average Math
aveMath= school_data_complete.mean()["math_score"]
aveMath

78.98537145774827

In [253]:
#average Reading
aveRead= school_data_complete.mean()["reading_score"]
aveRead

81.87784018381414

In [254]:
#passedMath
passMathcount = school_data_complete[school_data_complete["math_score"]>= 70].count()["Student ID"]
passMathcount

29370

In [255]:
#%passedMath
passMathprec = ((passMathcount/totalStudents)*100)
passMathprec

74.9808526933878

In [256]:
#passed reading 
passedRead= school_data_complete[school_data_complete["reading_score"]>=70].count()["Student ID"]
passedRead

33610

In [257]:
#%passed reading
passReadprec = ((passedRead/totalStudents)*100)
passReadprec

85.80546336482001

In [258]:
#Overall Passing
overPass = school_data_complete[(school_data_complete["reading_score"]>=70) & (school_data_complete["math_score"]>= 70)].count()["Student ID"]
overPassprec = ((overPass/totalStudents)*100)
overPassprec

65.17232575950983

In [259]:
# District Summary Table

dt_data = [{'Total Schools': totalSchools, 'Total Students': totalStudents,'Total Budget': totalBudget, 'Average Math Score': aveMath, 'Average Reading Score': aveRead, '% Passing Math': passMathprec, '% Passing Reading': passReadprec, "% Overall Passing": overPassprec}]
dt_summary= pd.DataFrame(dt_data) 
dt_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [260]:
#refreshing data table info
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [261]:
#grouping by school
schoolGroup = school_data_complete.groupby('school_name')
schoolGroup

In [262]:
#students per school
stud_school = schoolGroup['school_name'].count()
stud_school

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: school_name, dtype: int64

In [263]:
#budget for each school 
school_bud= schoolGroup['budget'].mean()
school_bud

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [264]:
#per student budget
perStu_bud = (school_bud)/(stud_school)
perStu_bud

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [265]:
#average math scores by school
s_aveMath = schoolGroup['math_score'].mean()
s_aveMath

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [266]:
#average reading score by school 
s_aveRead = schoolGroup['reading_score'].mean()
s_aveRead

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [267]:
s_pasMath = school_data_complete[school_data_complete["math_score"]>=70].groupby('school_name')['Student ID'].count()
s_pasMathpre = ((s_pasMath/stud_school)*100)
s_pasMathpre

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [268]:
s_pasRead = school_data_complete[school_data_complete["reading_score"]>=70].groupby('school_name')['Student ID'].count()
s_pasReadpre = ((s_pasRead/stud_school)*100)
s_pasReadpre

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [269]:
s_overpas= school_data_complete[(school_data_complete["reading_score"]>=70) & (school_data_complete["math_score"]>= 70)].groupby('school_name')['Student ID'].count()
s_overpasPre= ((s_overpas/stud_school)*100)
s_overpasPre

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [270]:
#removing duplicates that were causing issues
temp=pd.DataFrame.drop_duplicates(school_data_complete[["school_name","type"]])
temp.set_index("school_name",inplace=True)

In [271]:
#School Summary
#school_data_complete.set_index("school_name",inplace=True)
s_data=({"School Type":temp["type"], "Total Students": stud_school,"Total School Budget": school_bud, "Per Student Budget": perStu_bud,"Average Math Score": s_aveMath,"Average Reading Score": s_aveRead, "% Passing Math": s_pasMathpre, "% Passing Reading": s_pasReadpre, "% Overall Passing": s_overpasPre})

school_sum= pd.DataFrame(s_data)
school_sum =school_sum.style.format({"Total School Budget":"${:20,.2f}","Per Student Budget": "${:20,.2f}"})
school_sum

In [272]:
# top schools 

top = pd.DataFrame(s_data).sort_values("% Overall Passing", ascending = False).head()
topform = top.style.format({"Total School Budget":"${:20,.2f}","Per Student Budget": "${:20,.2f}"})
topform

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [273]:
bottom = pd.DataFrame(s_data).sort_values("% Overall Passing", ascending = True).head()
bottomform = bottom.style.format({"Total School Budget":"${:20,.2f}","Per Student Budget": "${:20,.2f}"})
bottomform

In [274]:
# Chart for comparison. Accidently wrote over previous charts

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [275]:
#refreshing data table info
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head(3)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635

In [276]:
#grouping grades

ninth_Math= school_data_complete.loc[school_data_complete['grade']=="9th"].groupby('school_name')['math_score'].mean()
tenth_Math= school_data_complete.loc[school_data_complete['grade']=="10th"].groupby('school_name')['math_score'].mean()
el_Math=school_data_complete.loc[school_data_complete['grade']=="11th"].groupby('school_name')['math_score'].mean()
tw_Math = school_data_complete.loc[school_data_complete['grade']=="12th"].groupby('school_name')['math_score'].mean()

In [277]:
#data frame Math scores by grade 
gradedata = ({"9th":ninth_Math,"10th": tenth_Math,"11th": el_Math,"12th": tw_Math})
grade_Math= pd.DataFrame(gradedata)
grade_Math

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [278]:
#Comparison DataFrame

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [279]:
#refreshing data table info
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head(3)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635

In [280]:
ninth_Read= school_data_complete.loc[school_data_complete['grade']=="9th"].groupby('school_name')['reading_score'].mean()
tenth_Read= school_data_complete.loc[school_data_complete['grade']=="10th"].groupby('school_name')['reading_score'].mean()
el_Read=school_data_complete.loc[school_data_complete['grade']=="11th"].groupby('school_name')['reading_score'].mean()
tw_Read = school_data_complete.loc[school_data_complete['grade']=="12th"].groupby('school_name')['reading_score'].mean()

In [281]:
#data frame Math scores by grade 
gradedataRead = ({"9th":ninth_Read,"10th": tenth_Read,"11th": el_Read,"12th": tw_Read})
grade_Read= pd.DataFrame(gradedataRead)
grade_Read

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [282]:
# comparison DataFrame

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [283]:
#refreshing data table info
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [284]:
#bins
budget_bins=[0, 585, 630, 645, 680]
name_labels= ['<$585', '$585-630', '$630-645', '$645-680']

In [285]:
school_data_complete["Spending Ranges"] = pd.cut(school_data_complete["budget"]/school_data_complete["size"], budget_bins, labels = name_labels)
school_data_complete["Spending Ranges"]

0        $645-680
1        $645-680
2        $645-680
3        $645-680
4        $645-680
           ...
39165    $630-645
39166    $630-645
39167    $630-645
39168    $630-645
39169    $630-645
Name: Spending Ranges, Length: 39170, dtype: category
Categories (4, object): ['<$585' < '$585-630' < '$630-645' < '$645-680']

In [286]:
# spedning groupby
spendGroup = school_data_complete.groupby("Spending Ranges")
spendGroup

In [287]:
#data by bins

spend_avMath= spendGroup["math_score"].mean()
spend_avRead= spendGroup["reading_score"].mean()


#passed precentages 
prMath= school_data_complete[school_data_complete["math_score"]>=70].groupby('Spending Ranges')['Student ID'].count()
spend_prMath= (prMath/spendGroup["Student ID"].count())*100

prRead= school_data_complete[school_data_complete["reading_score"]>=70].groupby('Spending Ranges')['Student ID'].count()
spend_prRead =(prRead/spendGroup["Student ID"].count())*100

In [288]:
ovPass = school_data_complete[(school_data_complete["reading_score"]>=70) & (school_data_complete["math_score"]>= 70)].groupby('Spending Ranges')['Student ID'].count()
spend_overall =(ovPass/spendGroup["Student ID"].count())*100

In [289]:
#creating bin dataframe 

spend_Data = ({"Average Math Score": spend_avMath, "Average Reading Score": spend_avRead,"% Passing Math": spend_prMath, "% Passing Reading": spend_prRead, "% Overall Passing": spend_overall})

bin_Data = pd.DataFrame(spend_Data)
dataMat=bin_Data.style.format({"Average Math Score": "{:,.2f}", "Average Reading Score":"{:,.2f}","% Passing Math":"{:,.2f}","% Passing Reading":"{:,.2f}","% Overall Passing":"{:,.2f}"})
dataMat

## Scores by School Size

* Perform the same operations as above, based on school size.

In [290]:
#refreshing data table info
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head(1)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635

In [291]:
#bins
school_bins= [0,1000,2000,5000]
size_names=['<1000','1000-2000','2000-5000']

In [298]:
#cutting data into the bins
school_data_complete["School Size"] = pd.cut(school_data_complete["size"], school_bins, labels = size_names)

In [299]:
#group for school size
sizeGroup = school_data_complete.groupby("School Size")

In [306]:
#data by bins

size_avMath= sizeGroup["math_score"].mean()
size_avRead= sizeGroup["reading_score"].mean()


#passed precentages 
pr_ath= school_data_complete[school_data_complete["math_score"]>=70].groupby('School Size')['Student ID'].count()
size_prMath= (pr_ath/sizeGroup["Student ID"].count())*100

pr_ead= school_data_complete[school_data_complete["reading_score"]>=70].groupby('School Size')['Student ID'].count()
size_prRead =(pr_ead/sizeGroup["Student ID"].count())*100

In [307]:
ovallPass = school_data_complete[(school_data_complete["reading_score"]>=70) & (school_data_complete["math_score"]>= 70)].groupby('School Size')['Student ID'].count()
size_overall =(ovallPass/sizeGroup["Student ID"].count())*100

In [314]:
#creating bin dataframe 

s_Data = ({"Average Math Score": size_avMath, "Average Reading Score": size_avRead,"% Passing Math": size_prMath, "% Passing Reading": size_prRead, "% Overall Passing": size_overall})

size_Data = pd.DataFrame(s_Data)
size_Data

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
<1000,83.828654,83.974082,93.952484,96.040317,90.136789
1000-2000,83.372682,83.867989,93.616522,96.773058,90.624267
2000-5000,77.477597,81.198674,68.652380,82.125158,56.574046

## Scores by School Type

* Perform the same operations as above, based on school type

In [315]:
#refreshing data table info
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head(1)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635

In [318]:
typeGroup = school_data_complete.groupby("type")

In [322]:
#data by bins

type_avMath= typeGroup["math_score"].mean()
type_avRead= typeGroup["reading_score"].mean()


#passed precentages 
typeMath= school_data_complete[school_data_complete["math_score"]>=70].groupby('type')['Student ID'].count()
type_prMath= (typeMath/typeGroup["Student ID"].count())*100

typeRead= school_data_complete[school_data_complete["reading_score"]>=70].groupby('type')['Student ID'].count()
type_prRead =(typeRead/typeGroup["Student ID"].count())*100

In [323]:
typePass = school_data_complete[(school_data_complete["reading_score"]>=70) & (school_data_complete["math_score"]>= 70)].groupby('type')['Student ID'].count()
type_overall =(typePass/typeGroup["Student ID"].count())*100

In [324]:
#creating bin dataframe 

t_Data = ({"Average Math Score": type_avMath, "Average Reading Score": type_avRead,"% Passing Math": type_prMath, "% Passing Reading": type_prRead, "% Overall Passing": type_overall})

type_Data = pd.DataFrame(t_Data)
type_Data

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
type,,,,,
Charter,83.406183,83.902821,93.701821,96.645891,90.560932
District,76.987026,80.962485,66.518387,80.905249,53.695878